/*Навигационное меню*/

.navbar {
  background: linear-gradient(179deg, #630091, #343a40 20% 90%, white);
}

#blog-title {
    border: 3px solid transparent;
}

#blog-title:hover {
    background-color: #68535e;
    border: 3px ridge darkred;
}

.nav-item {
  border: 1px solid #3c434a;
}

.nav-item:hover {
  border: 1px solid white;
  background-color: #535d68;
}

/* Заголовки */
.entry-title a {
  color: black;
  text-decoration: underline;
}
.entry-title a:hover {
  color: rgb(0, 104, 48);
  text-decoration: underline;
}

/* Размеры заголовков*/
h1 {
  font-size: 1.5rem;

}
.h2,
h2 {
  font-size: 1.3rem;
}
.h3,
h3 {
  font-size: 1.2rem;
}
.h4,
h4 {
  font-size: 1.1rem;
}
.h5,
h5 {
  font-size: 1rem;
}
.h6,
h6 {
  font-size: 0.9rem;
}
/*Ширина медиаконтейнера*/
@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
      max-width: 1140px;
    }
  }
/*Красивые таблицы*/

table {
    border: 3px solid black;
}
table tr {
    border: 2px solid gray;
}
table td {
    border: 1px solid darkgoldenrod; /*ToDO: найти способ сделать это более толстым*/
}

/*Дата и время поста*/
.dt-published {
    color: darkseagreen;
}
.dt-published:hover {
    color: yellowgreen;
}

/*Предыдущая и следующая записи*/
.previous a,
.next a {
  color: #630091;
}

.previous a:hover,
.next a:hover {
  color: #343a40;
  border-color: #630091;
}
